<% javascript_tag do %>
var Application_ID = <%= params[:id] %>;
<% end %>

<div id='app_header'>
	<span style='font-size:150%;color:#999;'>Application: </span><span id='app_name'><%= @app.name %></span><a id='edit_app_name'>edit</a>
</div>
<div id='app_content'>
	<div id='requests' class='section'>
		<div class='section_title'>Requests</div>
		<div class='section_content'><%= render :active_scaffold => 'requests', :constraints => {:application_id => @app.id, :time_source => 'total'} %></div>
	</div>
	<div id='templates' class='section'>
		<div class='section_title'>Templates</div>
		<div class='section_content'><%= render :active_scaffold => 'templates', :constraints => {:application_id => @app.id} %></div>
	</div>

	<div id='graph_panel' class='section'>
		<div>
			Metric: <select id='metric'><%= options_for_select(EventLog::METRICS.map{|m| [m.to_s.camelize,m]}) %></select>
			Function: <select id='aggregate_selector'><%= options_for_select(EventLog::FUNCTIONS_TO_COLUMNS.map{|key, value| [key.to_s.camelize,key.to_s]}) %></select>
		</div>
		<div id='graph'></div>
	</div>
</div>